# dependencies
node_modules/
.pnpm-store/
jss
!.yarn/releases
!.yarn/sdks
!.yarn/verspm_packages/
web_modules/

# Next.js
.next/
out/

# production
dist/
build/

# Vercel
.vercel/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing / coverage
coverage/
.nyc_output/

# Caches
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.vite/
.nuxt/
.output/
.svelte-kit/

# IDE / OS
.DS_Store
*.pem
.vscode-test/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/pluginions

# Misc
*.tgz
.yarn-integrity
